<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{#each this}}
            <div class="card mb-3">
                <div class="card-header text-center">
                    {{user.username}} on {{format_date created_at}}
                </div>
                <div class="card-body">
                    {{comment_text}}
                </div>
            </div>
            {{/each}}
        </div>
    </div>
</div>
