<div class="container">
  <div class="row">
    <div class="col-3"></div>
    <div class="col-md-6 mt-5">
      <h2 class="text-center display-4">Login</h2>
      <form class="login-form">
        <div class="form-group">
          <label for="email-login">Email:</label>
          <input type="text" class="form-control" id="email-login">
        </div>
        <div class="form-group">
          <label for="password-login">Password:</label>
          <input type="password" class="form-control" id="password-login">
        </div>
        <div class="form-group">
          <input type="submit" class="btn btn-primary w-100 mt-2" value="login"/>
        </div>
      </form>
      <a href="/signup">Create a new account</a>
    </div>
    <div class="col-3"></div>
  </div>
</div>



<script>
  const handleForm = async (event, endpoint, redirect, forms) => {
  event.preventDefault();

  let email, password = ""
    email = document.querySelector(`#${forms[0]}`).value;
    password = document.querySelector(`#${forms[1]}`).value;
    const response = await fetch(`/api/users/login`, {
      method: 'post',
      body: JSON.stringify({ email, password }),
      headers: { 'Content-Type': 'application/json' }
    });
    response.ok ? document.location.replace(redirect) : alert(response.statusText);
};

document.querySelector('.login-form').addEventListener('submit', (event) => handleForm(event, 'login', '/dashboard', ['email-login', 'password-login']));
</script>